<div class="p-grid p-justify-center p-align-center" style="margin-top: 10%">
    <p-card header="Resultado" [subheader]="getFeed()" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>

        </p-header>

        <div>
            <h3>Quantidade de questões: {{ size }}</h3>
            <span class="acerto">Acertos: {{ acertos }}</span>
            <span class="error">Erros: {{ erros }}</span>
        </div>

        <p-footer>
            <button pButton type="button" label="Voltar à pagina inicial" icon="pi pi-home"
                class="ui-button-secondary" (click)="home()"></button>
        </p-footer>
    </p-card>
</div>