<div class="p-grid" style="margin-left: 15px;">

    <div class="p-col-4">
        <p-card header="Unicarioca" subheader="Centro Universitário-RJ" [style]="{width: '360px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/uni.png">
            </p-header>
            <div>Avaliado Pelo MEC como o Melhor Centro Universitário do Rio pelo 6º Ano Seguido. Vestibular Gratuito,
                Programa de Parcelamentos, Descontos e Cursos Nota Máxima no MEC. Cursos de Pós-Graduação. Ensino à
                Distância.
                Cursos de Mestrado. Cursos de Graduação.</div>
            <p-footer>
                <button pButton type="button" label="Conhecer" icon="pi pi-times" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Desenvolvimento de Aplicações WEB" subheader="Disciplina" [style]="{width: '360px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/disciplina.png">
            </p-header>
            <div>
                <span>Grupo:</span> <br>
                <span>Luís Henrique de C. Corrêa</span> <br>
                <span>Pedro Igor Grilo de Oliveira Carvalho</span> <br>
                <span>Gabriel Costa Freire</span> <br>
            </div>
            <p-footer>
                <button pButton type="button" label="Conhecer" icon="pi pi-times" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Unicarioca" subheader="Feito com S2" [style]="{width: '360px'}"
            styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/primeNG.png">
            </p-header>
            <div>Usando Angular e PrimeNG</div>
            <p-footer>
                <button pButton type="button" label="Conhecer" icon="pi pi-times" class="ui-button-secondary"></button>
            </p-footer>
        </p-card>
    </div>


</div>